*{
    font-family: 'verdana';
}

body{
    background-image: url("../res/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 600px 400px;
    text-align: center;

}



div#divPrincipal{
    position: absolute;
    width: 600px;
    height: 400px;

    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;

    background-color: transparent;
    box-shadow: 5px 5px 15px 4px #444444;

}



div#divFormLogin{
    position: relative;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}