*{
    font-family: 'verdana';
}

body{
    background-image: url("../res/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 600px 600px;
    text-align: center;
    margin: 0px 0px 0px 0px;

}



div#divPrincipal{
    position: relative;
    height: 640px;
}

img#imgBackground{
    height: 90%;
    vertical-align: middle;
    box-shadow: 5px 5px 13px 10px #444444;
}

div#divFormLogin{
    margin-top: 20%;  
}