body {
    background: url("../res/questions_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

div#divPrincipal{
    margin: 0px auto 0px auto;
    width: 60%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 13px 10px #444444;
    padding: 30px 30px 10px 30px;
    font-family: sans-serif;
}

div#divNumeroQuestao{
    float: left;
    font-size: 44px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid black;

}

div#divNumeroQuestao1{
    
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(11, 97, 11);
    text-shadow: 3px 3px 3px gray;
    

}

div#divEnunciado{
    font-size: 18px;
    text-align: justify;
    vertical-align: text-top;
}

div#divAlternativas{
    font-size: 18px;
    text-align: justify;
}

div#divTituloSimulado{
    font-family: monospace;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    
}

input#inputRadio{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
