body {
    background: url("../res/system_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

div#divPrincipal{
    margin: 0px auto 0px auto;
    width: 60%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 13px 10px #444444;
    padding: 30px 30px 10px 30px;
    font-family: sans-serif;
}

div#divMenu{
    position: fixed;
    bottom: 3%;
    left: 3%;
    width: fit-content;
    background-color: whitesmoke;
    box-shadow: 0px 0px 13px 10px #444444;
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    color: rgb(11, 97, 11);
    
    
}

div#divNumeroQuestao{
    float: left;
    font-size: 44px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: rgb(11, 97, 11);
    border: 1px solid rgb(11, 97, 11);

}

div#divNumeroQuestao1{
    
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(11, 97, 11);
    text-shadow: 3px 3px 3px gray;
    

}

div#divEnunciado{
    font-size: 18px;
    text-align: justify;
    vertical-align: text-top;
}

div#divAlternativas{
    font-size: 18px;
    text-align: justify;
}

div#divTituloSimulado{
    font-family: monospace;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 3px gray;
    
}


input#inputRadio{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
/*
esta parte do codigo é pra mostrar
as dicas nos botoes do menu
*/
.figMenuSair{
    position: relative;
    display: block;
    
}

.figMenuSair .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

}

.figMenuSair .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

.figMenuSair:hover .tooltiptext{
    visibility: visible;
}

.figMenuRespondidas{
    position: relative;
    display: block;
}

.figMenuRespondidas .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

}

.figMenuRespondidas .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

.figMenuRespondidas:hover .tooltiptext{
    visibility: visible;
}

.figMenuEnviar{
    position: relative;
    display: block;
}

.figMenuEnviar .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

}

.figMenuEnviar .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

.figMenuEnviar:hover .tooltiptext{
    visibility: visible;
}

.figGabarito{
    position: relative;
    display: inline-block;
}

.figGabarito .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.figGabarito .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

.figGabarito:hover .tooltiptext{
    visibility: visible;
}

.figComentario{
    position: relative;
    display: inline-block;
}

.figComentario .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.figComentario .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

.figComentario:hover .tooltiptext{
    visibility: visible;
}


/*FIM
esta parte do codigo é pra mostrar
as dicas nos botoes do menu
FIM */
